.containerSomos {
    margin-top: 7%;
    margin-left: 7%;
    margin-right: 1%;
    @media screen and (max-width: 400px) {
        margin-left: 5%;   
    }
    .desta {
        @extend %tituloDestacado;
        padding-bottom: 2%;
        @media screen and (max-width: 400px) {
            padding-top: 12%;   
        }
        @media screen and (min-width: 401px) and (max-width: 800px) {
            padding-top: 50px;
        }  
    }
    .containerQuienes {
        .quienesSomosDiv {
            .infoGrafica {
                color: $fontColorPrincipal;
                font-size: 1.3em;
                text-align: justify;
                margin-right: 17%;
                font-weight: $fontWeight;
                font-style: italic;
                &:hover {
                    transform: scale(1.2);
                    transition: all 2s;    
                }
                @media screen and (max-width: 400px) {
                    display: none;         
                }
                @media screen and (min-width: 401px) and (max-width: 800px) {
                    display: none;
                }  
            } 
            .infoGraficaDos {
                color: $fontColorPrincipal;
                font-size: 1.3em;
                text-align: justify;
                margin-right: 17%;
                @media screen and (max-width: 400px) {
                    font-size: 15px;
                    margin-right: 15px;         
                }
                @media screen and (min-width: 401px) and (max-width: 800px) {
                    margin-right: 36px;
                }  
                @media screen and (min-width: 801px) {
                    display: none; 
                }
            }   
        }
        .containerPuerta {
            .quienesSomos {
                max-width: $anchoQuienesSomosImg;
                border-radius: 5px;
                &:hover {
                    transform: scale(1.2) translate(-55px, -25px);
                    transition: all 2s;    
                }
                @media screen and (max-width: 400px) {
                    max-width: 97%;        
                }
            }
        }
    }
    .nombrePablo {
        color: $fontColorPrincipal;
        font-size: 35px;
        font-style: normal;
        &:hover {
            animation: tituloPablo 2s;
        }
        @media screen and (max-width: 400px) {
            font-size: 20px;
            margin-top: 5px;
        }
    }    
    .contPablo {
        .divPablo {
            .quienesSomos {
                max-width: $anchoQuienesSomosImg;
                border-radius: 5px;
                &:hover {
                    transform: scale(1.2) translateX(70px);
                    transition: all 2s;    
                }         
            }
        }
        .divInfoPablo {
            .infoPablo {
                @extend %infoPersonas;
                &:hover {
                    transform: scale(1.2) translateX(-55px);
                    transition: all 2s;    
                }
                @media screen and (max-width: 400px) {
                    margin-right: 15px;        
                }
                @media screen and (min-width: 401px) and (max-width: 800px) {
                    margin-right: 37px;
                }  
            }
        }
    }
    .nombreFede {
        color: $fontColorPrincipal;
        font-size: 35px;
        font-style: normal;
        text-align: right;
        margin-top: 15px;
        margin-right: 148px;
        &:hover {
            animation: tituloFede 2s;
        }
        @media screen and (max-width: 400px) {
            font-size: 15px;
            margin-right: 19px;    
        }
        @media screen and (min-width: 401px) and (max-width: 800px) {
            margin-right: 37px;
            font-size: 29px;
        }      
    }
    .contFede {
        .divFede {
            .infoFede {
                @extend %infoPersonas;
                &:hover {
                    transform: scale(1.2) translateX(55px);
                    transition: all 2s;    
                } 
                @media screen and (min-width: 401px) and (max-width: 800px) {
                    margin-right: 37px;
                }  
            }
        }
        .divInfoFede {
            .quienesSomos, .fotoFede {
                max-width: $anchoQuienesSomosImg;
                border-radius: 5px;
                margin-bottom: 20px; 
                &:hover {
                    transform: scale(1.2) translateX(-70px);
                    transition: all 2s;    
                }  
            }
        }
    }

}